* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: rgb(35, 35, 35);
    font-family: "Artifika", serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    padding: 16px 0;
    background-color: rgb(42, 42, 42);
}

.nav-bar li {
    display: none;
    margin-left: 16px;
}

.nav-bar li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: large;
}

.nav-bar li a:hover {
    font-weight: bolder;
}

.header-title {
    color: white;
    text-decoration: none;
    font-weight: normal;
}

#historia .container {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
}

#historia {
    margin-top: 6rem;
}

#historia h3 {
    color: white;
    font-weight: normal;
    font-size: 30px;
    margin-bottom: 16px;
    margin-left: 8px;

}

#historia .container img {
    margin-right: 32px;
    height: 240px;
    border-radius: 4px;
}

.story-box {
    background-color: rgba(46, 46, 46, 0.534);
    border-radius: 8px;
    display: block;
}

.story-box  p {
    color: white;
    padding-top: 8px;
    margin: 8px 8px;
}

.story-box article button {
    background-color: rgba(0, 0, 0, 0.544);
    margin-top: 10px;
    color: white;
    display: inline-block;
    text-decoration: none;
    border: none;
    padding: 8px;
    border-radius: 4px;
    margin-left: 8px;
    margin-bottom: 1em;
    cursor: pointer;
}

.story-box article button:hover {
    background-color: rgba(0, 0, 0, 0.882);
}

#personagens {
    margin-top: 32px;
}

#personagens h3 {
    color: white;
    margin-bottom: 8px;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 16px 8px;
    background-color: rgba(46, 46, 46, 0.534);
    border-radius: 8px;
}

.articles img {
    height: 240px;
    justify-items: flex-start;
    border-radius: 4px;
}

.articles article {
    width: 30%;
    margin: 8px;
}

.articles article p {
    color: white;
    padding: 8px;
}

.articles article button{
    background-color: rgba(0, 0, 0, 0.544);
    margin-top: 10px;
    color: white;
    display: inline-block;
    text-decoration: none;
    padding: 8px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}
.articles article button:hover {
    background-color: rgba(0, 0, 0, 0.882);
}

.container button {
    padding: 8px;
    display: inline-block;
    margin-top: 1em;
    background-color: rgb(0, 44, 78);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#about {
    display: flex;
    margin-top: 32px;
}

#about .container article{
    background-color: rgba(46, 46, 46, 0.534);
    color: white;
    border-radius: 8px;
}

#about h3 {
    color: white;
    margin-bottom: 8px;
    text-shadow: 2px 2px 5px black;
}

#about .container article p {
    padding: 16px 8px;
}

#contact {
    padding: 24px 0;
    color: white;
}

#contact .container {
    display: block;
}

#contact .contact-method {
    display: grid;
    grid-template-columns: 50% 50% ;
    padding: 16px;
}

#contact h3 {
    margin-bottom: 16px;
    text-shadow: 2px 2px 5px black;
    padding-left: 8px;
}

#contact div h4 {
    margin-bottom: 16px;
    text-shadow: 2px 2px 5px black;
}

#contact form input, form textarea, form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
    border-radius: 4px;
    border: none;
}

#contact form textarea {
    resize: none;
    height: 180px;
}

#contact form button {
    border: none;
    cursor: pointer;
}

#contact form button:hover {
    background-color: rgb(1, 57, 100);
}

.contact-method {
    background-color: rgba(46, 46, 46, 0.534);
    border-radius: 8px;
}

.contact-method .links {
    margin-top: 1em;
}

.contact-method .links ul li a {
    margin-top: 1em;
    text-decoration: none;
    color: rgb(233, 142, 142);
}

footer {
    background-color: rgba(255, 255, 255, 0.116);
    text-align: center;
    padding: 16px 0;
}

footer p {
    color: rgb(0, 0, 0);
}

.btn-menu {
    display: none;
}

@media screen and (max-width: 640px) {

    .container {
        max-width: 640px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    
    header .container {
        display: block;
        text-align: center;
    }
    
    header {
        position: static;
        padding: 16px 0;
        background-color: rgb(23, 23, 23);
    }

    .btn-menu {
        display: block;
    }

    .btn-menu button{
        margin-top: 1em;
        background-color: rgba(0, 0, 0, 0.544);
        color: white;
        text-decoration: none;
        border: none;
        display: inline-block;
        padding: 8px;
        border-radius: 4px;
    }

    .nav-bar {
        display: none;
        margin-left: 0;
        margin-top: 1em;
    }

    .nav-bar li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 0;
    }

    .nav-bar li a {
        margin-bottom: 1em;
    }
    
    .nav-bar li a:hover {
        display: none;
    }

    #historia .container {
        display: block;
    }
    
    #historia {
        margin-top: 0;
    }
    
    #historia .container img {
        margin-right: 0;
        width: 100%;
        border-radius: initial;
    }
    
    .story-box article button {
        background-color: rgba(0, 0, 0, 0.544);
        margin-top: 10px;
        color: white;
        text-decoration: none;
        border: none;
        display: inline-block;
        padding: 8px;
        border-radius: 4px;
    }
    
    .story-box article a:hover {
        display: none;
    }
    
    #personagens {
        margin-top: 3em;
    }
    
    #personagens h3 {
        font-size: 2em;
        margin-bottom: 1em;
        text-align: center;
    }
    
    .articles {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        padding: 16px;
        background-color: rgba(46, 46, 46, 0.534);
        border-radius: 0;
    }
    
    .articles img {
        width: 100%;
        height: 100%;
        display: inline-block;
        border-radius: 4px;
    }
    
    .articles article {
        width: 100%;
    }
    
    .articles article p {
        color: white;
    }
    
    .articles article h4{
        color: #fff;
        padding: 8px;
    }

    .articles article button {
        background-color: rgba(0, 0, 0, 0.544);
        margin-top: 10px;
        color: white;
        display: inline-block;
        border: none;
        text-decoration: none;
        padding: 8px;
        border-radius: 4px;
        margin-bottom: 2em;
    }

    .articles article p {
        margin: 8px;
        padding-bottom: 8px;
    }

    .articles article a:hover {
        display: none;
    }
    
    .container button {
        padding: 8px;
        display: inline-block;
        margin-top: 1em;
        background-color: rgb(0, 44, 78);
        color: #fff;
        border: none;
        border-radius: 4px;
    }
    
    #about {
        display: block;
        margin-top: 3rem;
    }
    
    #about h3 {
        color: white;
        margin-bottom: 8px;
        text-shadow: initial;
    }
    
    #about .container article p {
        padding: 16px;
    }
    
    #contact {
        padding: 24px;
        color: white;
    }
    
    #contact .contact-method {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    
    #contact h3 {
        margin-bottom: 16px;
        text-shadow: initial;
        padding-left: 8px;
    }
    
    #contact div h4 {
        text-shadow: initial;
    }
    
    #contact form input, form textarea, form button {
        width: 100%;
    }
    
    #contact form button:hover {
        display: none;
    }
    
    .creator {
        display: none;
    }
    
    .contact-method .creator {
        display: none;
    }
    
    footer {
        background-color: rgba(255, 255, 255, 0.116);
        text-align: center;
        padding: 16px 0;
    }
    
    footer p {
        color: rgb(0, 0, 0);
    }
}